/********************  LEFT NAVIGATION STYLE  **********************/
.left-nav {
 width: 250px;
 height: 30px;
 position: absolute;
 background: #313131;
 border: 2px solid #6C6B6B;
 border-top: none;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 transition: 200ms ease;
 top: 15vh;
 margin-left: 1rem;
 z-index: 99;
 font-family: 'Quicksand', sans-serif;
}

.left-nav--clickable {
  display: flex;
  justify-content: center;
}
.fa-caret-down {
  margin-left: 1em;
}
.left-nav li{
  visibility: hidden;
}

.left-nav:hover {
  height: 300px;
  overflow-y: auto;
}

.options {
  padding-top: 2em;
  margin-top: 2em;
  border-top: 2px solid #6C6B6B;
  visibility: hidden;
}

.left-nav:hover li{
  visibility: visible;
}

.left-nav:hover .options {
  visibility: visible;
}

#set-list-wrap {
  margin-top: 1rem;
  margin-left: .5rem;
}

.editable {
  margin-bottom: .5rem;
}

.editable:hover {
  color: #6C6B6B;
  text-decoration: underline;
  cursor: pointer;
}

.options--chat {
  margin-left: .5em;
  width: 73%;
  display: flex;
  justify-content: space-between;
}

/* BUTTON */
.options--activate {
  color: #6C6B6B;
  display: block;
  margin: 2rem auto;
  border: none;
  padding: 1em;
  border-radius: 11px;
  background: #313131;
  box-shadow: inset -5px 5px 11px #2a2a2a,
              inset 5px -5px 11px #383838,
              -5px 5px 11px #2a2a2a,
              5px -5px 11px #383838;
}

.options--activate:hover {
  color: #b6b6b6;
  box-shadow: inset -2px 2px 11px #2a2a2a,
              inset 2px -2px 11px #383838,
              -10px 10px 11px #2a2a2a,
              10px -10px 11px #383838;
}

.options--activate:active {
  color: #ececec;
  background: #313131;
  box-shadow: inset -12px 12px 18px #232323,
              inset 12px -12px 18px #3f3f3f;
  transform: translateY(2px);
}