/********************  LEFT NAVIGATION STYLE  **********************/
.left-nav {
 width: 500px;
 height: 30px;
 position: absolute;
 background: #313131;
 border: 2px solid #6C6B6B;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 transition: 200ms ease;
 top: 15vh;
 margin-left: 1rem;
 z-index: 99;
 font-family: 'Quicksand', sans-serif;
}

.left-nav--clickable {
  display: flex;
  justify-content: center;
}
.fa-caret-down {
  margin-left: 1em;
}
.left-nav li{
  visibility: hidden;
}

.left-nav:hover {
  height: 300px;
  overflow-y: auto;
}

.left-nav:hover li {
  visibility: visible;
}

#set-list-wrap {
  margin-top: 1rem;
  margin-left: .5rem;
}

.editable {
  margin-bottom: .5rem;
}

.editable:hover {
  color: #6C6B6B;
  text-decoration: underline;
  cursor: pointer;
}