<div class="left-nav">

  <a routerLink="/home"><h1>Stream Sets</h1></a>

  <div class="sets-list">
    <ul id="set-list-wrap">
      <!--*ngFor="let item of setsList" loop list Db-->
      <!--<li class="editable"><a>{{item}}</a></li>-->
      <li class="editable"><a>Set 1</a></li>
      <li class="editable"><a>Set 2</a></li>
      <li class="editable"><a>Set 3</a></li>
      <li class="editable"><a>Set 4</a></li>
    </ul>
  </div>

  <div class="streams-list">
    <ul>
      <!--*ngFor="let item of setsList" loop list Db-->
      <!--<li><a href="">{{item}}</a></li>-->
      <li><a href="">Gotaga</a></li>
      <li><a href="">aminematue</a></li>
      <li><a href="">JeelTV</a></li>
      <li><a href="">zakcnani</a></li>
      <li><a href="">Inoxtag</a></li>
    </ul>
  </div>

</div>
