<div class="left-nav">
  <span class="left-nav--clickable">Select Grid <i class="fas fa-caret-down"></i> </span>
  <div class="sets-list">
    <ul id="set-list-wrap">
      <li *ngFor="let item of setList" class="editable" (click)="printPlayers(item);"><a>{{item}}</a></li>
    </ul>
  </div>
  <div class="options">
    <label class="options--chat">
     Enable Chat :<input type="checkbox" (change)="toggleChat()"> 
    </label>
    <button class="options options--activate" (click)="displayChat()">
      Apply Changes
    </button>
  </div>
</div>