<div class="wrapper">
    <div class="subwrap">
        <app-top-menu></app-top-menu>
        <div class="box">
            <span id="logText">You are logged in as {{username}}</span>
            <div id="options">
                <h3 class="smallTitle">Manage existing sets :</h3>
                <select id="dropdownOptions" name="" [(ngModel)]="selected" (change)='testFunc($event)'>
                    <option value="" disabled selected hidden>Please Choose...</option>
                    <option *ngFor="let item of gridList" class="option-item">{{item}}</option>
                </select>
                <input type="text" id="setName">
                <textarea name="" id="setsArea"></textarea>
                <div id="edit-delete">
                    <button id="editBtn">Edit Set</button>
                    <button id="deleteBtn">Delete Set</button>
                </div>
            </div>
            <div class="logged">
                <p>Do you want to disconnect ?</p>
                <button class="disconnect" (click)="disconnect();">Disconnect</button>
            </div>
        </div>
    </div>
</div>