<div class="options-nav">
    <span class="options-nav--clickable">Players Options <i class="fas fa-caret-down"></i> </span>
    <div class="options-list">
      <!-- OPTIONS HERE -->
      <div class="options options--chat">
        <label class="options--chat--lbl">
          Enable Chat :<input type="checkbox"> 
        </label>
      </div>
      <span class="sizespan">Players Size :</span>
      <form class="options options--playersize">
            <label> Small Players
              <input type="radio" name="size">
            </label>
            <label> Normal Players
              <input type="radio" name="size">
            </label>
            <label> Large Players
              <input type="radio" name="size">
            </label> 
          </form>
      <button class="options options--activate">
        Apply Changes
      </button>
    </div>
  </div>
  