<div class="options-nav">
    <span class="options-nav--clickable">Players Options <i class="fas fa-caret-down"></i> </span>
    <div class="options-list">
      <!-- OPTIONS HERE -->
      <div class="options options--chat">
        <label class="options--chat--lbl">
          Enable Chat :<input type="checkbox" [checked]="isChecked" (change)="toggleChat()"> 
        </label>
      </div>
      <button class="options options--activate" (click)="sendChatStatus()">
        Apply Changes
      </button>
    </div>
  </div>
  