<div class="wrapper">
  <app-left-nav></app-left-nav>
  <div class="subwrap">
    <app-top-menu></app-top-menu>
    <div class="login-form">
      <div class="login-box">
        <form [formGroup]="LoginForm" (ngSubmit)="postLogin()" id="account-form">
          <label id="username" for="username">Username : </label>
          <input type="text" name="username" formControlName="username" value="" required>
          <label for="password">Password : </label>
          <input type="password" name="password" formControlName="password" value="" required>
          <button type="submit" name="signin-btn">Log In</button>
          <button id="signUpBtn" routerLink="/signup">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>