<div class="wrapper">
  <div class="left-nav">

    <h1>Stream Sets</h1>

    <div class="sets-list">
      <ul id="set-list-wrap">
        <li class="editable"><a href="">Set 1</a></li>
        <li class="editable"><a href="">Set 2</a></li>
        <li class="editable"><a href="">Set 3</a></li>
        <li class="editable"><a href="">Set 4</a></li>
      </ul>
    </div>

    <div class="streams-list">
      <ul>
        <li><a href="">Gotaga</a></li>
        <li><a href="">aminematue</a></li>
        <li><a href="">JeelTV</a></li>
        <li><a href="">zacknani</a></li>
        <li><a href="">Inoxtag</a></li>
      </ul>
    </div>

  </div>

  <div class="head-wrapper">
    <div class="header">

      <div id="menu-inputs">
        <!-- Locate and place Js generated buttons -->
      </div>

      <div id="btnGen"></div>
      <a href="#" onclick="checkExist();">Manage Sets</a>
      <i class="far fa-user-circle"></i>
    </div>
      <div class="content">
        <app-players></app-players>
      </div>
  </div>

</div>
<router-outlet></router-outlet>
