<div class="wrapper">
  <div class="head-wrapper">
    <div class="header">
      <div *ngIf="isShown">
        <form [formGroup]="DataForm" (ngSubmit)="postDataSet()" id="creation-form">
          <label id="test" for="nameSet">Set Name :</label>
          <input id="setNameInput" type="text" name="nameSet" formControlName="nameSet" value="" required>
          <label for="descSet">Streamers List :</label>
          <textarea id="setDescInput" type="descSet" name="descSet" formControlName="descSet" value="" required></textarea>
          <button id="sendButton" type="submit" name="signin-btn">Create</button>
        </form>
      </div>
      <div id="btnGen" #btnGen></div>
      <a class="linkAnim" (click)="checkExist();">Manage Sets</a>
      <i routerLink="/login" class="far fa-user-circle"></i>
    </div>

  </div>

</div>
