<div class="wrapper">
  <div class="header">
    <h1 class="title"><a routerLink="/home">Stream Grids</a></h1>
    <div *ngIf="isShown">
      <form [formGroup]="DataForm" (ngSubmit)="postDataSet()" id="creation-form">
        <label id="test" for="nameSet">Set Name :</label>
        <input id="setNameInput" type="text" name="nameSet" formControlName="nameSet" value="" required>
        <label for="descSet">Streamers List :</label>
        <textarea id="setDescInput" type="descSet" name="descSet" formControlName="descSet"
          placeholder="streamerID1,streamerID2,streamerID3, ..." required></textarea>
        <button id="sendButton" type="submit" name="signin-btn">Create</button>
        <span class="tooltip">?
          <span class="tooltip--text">Make sure every streamerID is separate by commas, without space !</span>
        </span>
      </form>
    </div>
    <div id="btnGen" #btnGen></div>
    <a class="linkAnim" (click)="showForm();">Create a Grid</a>
    <div *ngIf='isConnected == true '>
      <i routerLink="/logged" class="far fa-user-circle"></i>
    </div>
    <div *ngIf='isConnected == false '>
      <i routerLink="/login" class="far fa-user-circle"></i>
    </div>
  </div>
</div>