.wrapper {
  display: flex;
  width: 85vw;
  max-width: 100%;
}
.subwrap{
  display: flex;
  flex-direction: column;

}
#players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
