.wrapper {
  display: flex;
  width: 85vw;
  max-width: 100%;
}
.subwrap{
  display: flex;
  flex-direction: column;

}
#players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}
.alert {
  position: absolute;
  visibility: hidden;
  text-align: center;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  color: crimson;
}
@media (max-width: 800px) {
  .alert {
    visibility: visible;
  }
} 