.wrapper {
  display: flex;
}
.subwrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#account-form {
  display: flex;
  flex-direction: column;
}
.login-form {
  min-height: 85vh;
}
.login-box {
  margin-top: 2rem;
  max-width: 300px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-box label, input, button {
  margin-top: 2rem;
}
.login-box label {
  font-family: 'Luckiest Guy', cursive;
  font-size: 1rem;
  text-align: center;
}
.login-box input {
  height: 1.2rem;
}
.login-box button {
  padding: 10px;
  background: none;
  color: white;
  border: 2px solid #6C6B6B;
  border-radius: 10px;
  transition: 200ms ease;
}
.login-box button:hover {
  box-shadow:  0px -0px 12px 0 #009cc6;
  color: #009cc6;
  border: 2px solid #009cc6;
  transition: 20ms ease;
}